@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
.pageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.bgGraphicDetailsPage {
    background-image: url(https://res.cloudinary.com/di0fa12vz/image/upload/v1729184313/wowMap_n7qilc.jpg);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgb(113, 84, 48); 
    background-size: cover;
    background-position: center;
    z-index: -2;
    opacity: 0.3;
}

/* Top Text Area */
.topTextArea {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: center;
    width: 1000px;
    gap: 10px;
    border-radius: 10px;
    padding: 20px 0px 20px 25px;
    margin: 15px 0px 15px 0px;
    background: linear-gradient(180deg, #6f5123, #e2d469); 
    border: 4px solid #666; 
    border-radius: 10px; /* Rounded corners */
    box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.3), 
        inset 0 -2px 5px rgba(255, 255, 255, 0.5); 
    position: relative; 
    overflow: hidden; 

}

.titleText {
    align-self: top;
    padding-top: 50px;
    padding-bottom: 0px;
    margin: 0px;
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-size: 45px;
    font-style: normal;
    line-height: 15px;
}

.text {
    align-self: top;
    padding-top: 5px;
    padding-bottom: 15px;
    margin: 0px
}

/* Image Area */

.imageArea {
    display: flex;
    flex-direction: row;
    width: 1000px;
    align-self: center;
}

.heroImageArea {
    width: 650px;
    padding-right: 15px;
       
}

.heroImage {
    width: 650px;
    height: 335px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgb(64, 59, 40);

}

.sideImagesArea {
    width: 340px;
    height: 340px;
    display: flex;
    align-content: first baseline;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;

}

.sideImage {
    width: 160px;
    height: 160px;
    border-radius: 10px;
    box-shadow: 5px 5px 3px rgb(64, 59, 40);

}



.hostedByText {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-size: 25px;
    font-style: normal;
}

/* Text Font Styles */

.arsenal-sc-regular {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 1;
  }
  
  .arsenal-sc-bold {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .arsenal-sc-bold-25px {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
  }

  .arsenal-sc-regular-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .arsenal-sc-bold-italic {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: italic;
  }

/* Homepage BG Image */
.bgImage {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column;
    align-self: center;
    object-position: top left 40%;
    opacity: 70%;
    z-index: -3;
}

.logoOverlay {
    position:absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    z-index: 0;

}

.textOverlay {
    position:absolute;
    top: 320px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 900px;
    height: 50px;
    z-index: 0;
    background-color: antiquewhite;
    border-radius: 10px;
    padding:15px;
    font-size: 25px;
    text-align: center;
    color: rgb(65, 49, 31);
}

.absolute-centered-item {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  /* Homepage All Spots */

  .allSpotsArea {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  .allSpotImg {
    margin-top: 20px;
    width: 225px;
    border-radius: 5px;
  }

  /* NAVIGATION */

  .logoSm {
    width: 200px;
  }

  .btnStyle {
    border: 2px outset grey ;
    background-color: #801817;
  }
/* SPOT DETAILS PAGE */
  /* DETAILS & REVIEW WRAPPER */

  .detailsReserveWrapper {
    display: flex;
    flex-direction: row;
    align-self: center;
    gap: 10px;
    width: 1000px;
    padding-top: 15px;
  }

  /* Details Area */

.detailsArea {
    width: 60%;
    height: 115px;
    border-radius: 10px;
    overflow: auto;
    background-color: antiquewhite;
    padding: 15px;
    margin-bottom: 30px;
}

  /* DETAILS/RESERVE AREA */

  .reserveArea {
    width: 40%;
    background: linear-gradient(180deg, #ccc, #eee); /* Base color gradient */
    border: 4px solid #666; /* Darker border for depth */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.3), /* Shadow for depth */
        inset 0 -2px 5px rgba(255, 255, 255, 0.5); /* Inner highlight for shine */
    position: relative; /* For absolute positioning of pseudo-elements */
    overflow: hidden; /* Hide overflow to maintain shape */
    margin-bottom: 30px;
  }

  .priceReviewArea {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10%;
    padding: 15px 5px 0px 20px !important;

  }

  .spotPrice {
    font-family: "Rakkas", serif;
    font-size: 25px;
  }

  .star {
    font-family: "Rakkas", serif;
    font-size: 50px;
    padding-right: 0px;
  }

  .buttonDiv {
    width: fit-content;
    padding: 0px 20px 25px 20px;
  }

  /* REVIEW AREA */
  .reviewArea {
    background-color: antiquewhite;
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 1000px;
  }

  .reviewHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    padding: 5px 5px 10px 10px;
  }

  .divider {
    width: 995px;
    height: 0px;
    border-color: rgb(59, 54, 7);
    border-style: solid;
    display: flex;
    align-self: center;
    border-radius: 4px;
  }

  /* REVIEW ENTRIES */
  .reviewEntryArea {
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    width: 1000px;
    padding: 25px 0px 20px 75px;

  }

  /* REVIEW */
  .shiny-metal-box {
    width: 300px; /* Width of the box */
    height: 200px; /* Height of the box */
    background: linear-gradient(180deg, #ccc, #eee); /* Base color gradient */
    border: 4px solid #666; /* Darker border for depth */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 
        0 4px 10px rgba(0, 0, 0, 0.3), /* Shadow for depth */
        inset 0 -2px 5px rgba(255, 255, 255, 0.5); /* Inner highlight for shine */
    position: relative; /* For absolute positioning of pseudo-elements */
    overflow: hidden; /* Hide overflow to maintain shape */
}