@import url('https://fonts.googleapis.com/css2?family=Rakkas&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* TODO: Add sitewide styles */
button {
    display: flex;
    justify-content: center;
    border: 2px outset grey;
    border-radius: 5px;
    background-color: #801817;
    color: #ffdc68;
    font-family: roboto;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    margin-top: 15px;
    padding: 10px;
  }

button:hover {
    display: flex;
    justify-content: center;
    border: 2px outset grey ;
    background-color: #fa6e6b;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    font-family: roboto;
    font-size: 18px;
    font-weight: bold;
    width: fit-content;
    cursor: pointer;
}

.logoSm {
    width: 200px;
  }

.label {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
}

.arsenal-sc-bold {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

h1 {
    font-family: "Rakkas", serif;
    font-weight: 400;
    font-size: 45px;
}

h2 {
  font-family: "Rakkas", serif;
  font-weight: 100;
  font-size: 25px;
}

h3 {
  font-family: "Rakkas", serif;
  font-weight: 50;
  font-size: 20px;
}

label {
    font-family: "Arsenal SC", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 25px;
}

p {
  font-family: "Arsenal SC", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 15px;
  letter-spacing: -1px;
}
