.hidden {
    display: none;
  }

  .profileBtn {
    display: flex;
    justify-items: center;
    flex-direction: row;
    gap:20px;
    float: right;
    height: 50px;
    margin-right: 15px;
  }

  .topnav {
    height: 50px;
    background-color: rgb(51, 51, 51);
  }
  
  .topnav a {
    display: flex;
    flex-direction: row;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    color: white;
  }